name: Go test

on:
  push:
    branches-ignore:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v6.1.0
      with:
        cache-dependency-path: go.sum
        go-version-file: go.mod

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6.0.0

    - name: Lint
      uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
      with:
        version: v2.4.0

    - name: Build
      run: go build -v .

    - name: Test
      run: go test -v .

    - name: Docker build
      id: docker_build
      uses: docker/build-push-action@v6.18.0
      with:
        push: false
        tags: ${{ github.repository }}:test