name: Go test docker build

on:
  push:
    branches:
      - main

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v6.1.0
      with:
        go-version: ^1.25

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6.0.0

    - name: Lint
      uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
      with:
        version: v2.4.0

    - name: Build
      run: go build -v .

    - name: Test
      run: go test -v .
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.7.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.11.1
    - name: Login to DockerHub
      uses: docker/login-action@v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v6.18.0
      with:
        push: true
        tags: ghcr.io/${{ github.repository }}:latest
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
