name: release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:

  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Get version from tags
      id: version
      run: echo ::set-output name=tag::${GITHUB_REF/refs\/tags\//}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6.0.0

    - name: Set up Go
      uses: actions/setup-go@v6.1.0
      with:
        go-version-file: go.mod

    - name: Lint
      uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
      with:
        version: v2.4.0
    - name: Build
      run: go build -v .

    - name: Test
      run: go test -v .
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.7.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.11.1
    - name: Login to DockerHub
      uses: docker/login-action@v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v6.18.0
      with:
        push: true
        tags: ghcr.io/${{ github.repository }}:${{ steps.version.outputs.tag }}
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
  changelog:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v6.0.1
        with:
          configuration: ".github/configs/changelog-config.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        uses: actions/create-release@v1.1.4
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: ${{steps.github_release.outputs.changelog}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}